#wrapper .inner {
  }

  #wrapper .inner .main .main_inner {
    margin: 0px auto;
    width: 100%;
  }
  #wrapper .inner .main .main_inner .main_wrapper{
    text-align: center;
  }
  #wrapper .inner .main .main_inner img{
    width: 80%;
  }
  #wrapper .inner .back .back_inner {
    margin: 0px auto;
    width: 920px;
    padding: 50px 0;
  }
  #wrapper .inner .back .back_inner .back_wrapper {
    text-align: center;
  }
  #wrapper .inner .back .back_inner .back_wrapper .back_link {
    border-bottom: solid 1px;
  }
  #wrapper .inner #footer .footer_wrapper .footer_inner {
    padding: 80px 0 20px;
    width: 100%;
    text-align: center;
  }
  #wrapper .inner #footer .footer_wrapper .footer_inner small {
    font-size: 15px;
    border-top: solid 2px;
    padding-top: 5px;
  }